<template>
  <v-container>
    <v-row>
      <v-col
        cols
        md="3"
        class="mt-4"
        v-for="(element, idx) in getMovies.results"
        :key="idx"
      >
      <WIDGETMOVIE :movie="element" />

      </v-col>
    </v-row>
    <v-divider></v-divider>

  <PAGINATION :content="getMovies" />

  </v-container>

</template>
  
  <script>
import { mapGetters } from "vuex";
import { LIST_MOVIES } from "@/services/movie.module";
import WIDGETMOVIE from "@/components/movie/widget-movie";
import PAGINATION from '@/components/movie/pagination';

export default {
  components: {
    WIDGETMOVIE,
    PAGINATION

  },
  computed: {
    ...mapGetters(["getMovies"]),
  },
  beforeMount() {
    this.$store.dispatch(LIST_MOVIES, 1);
  },
  methods: {},
};
</script>