<template>
  <v-container class="fill-height" fluid style="min-height: 434px">
   
    <v-col cols md="5" class="mt-4" max-width="250">
      <v-card>
        <v-row align="start">
          <v-img :src="imagen" max-width="300" class="ml-3"></v-img>
        </v-row>
      </v-card>
    </v-col>
    <v-col>
      <v-card  >
        <v-row>
          <v-col >
            <v-card-title class="">{{this.title}}</v-card-title>
            <v-card-subtitle>{{this.date}} - {{this.time}}</v-card-subtitle>
            <v-card-subtitle>{{this.isLogan}}</v-card-subtitle>
            <v-card-title>Descripción</v-card-title>
            <v-card-text>{{this.description}}</v-card-text>

          </v-col>
          
        </v-row>
      </v-card>
    </v-col>
  </v-container>
</template>
<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      showModal: false,
      img_url: "https://image.tmdb.org/t/p/w500/",
    
    };
  },
  computed: {
    ...mapGetters(["getMovie"]),
    imagen() {
      return this.img_url + this.getMovie.poster_path;
    },
    fondo() {
      return this.img_url + this.getMovie.backdrop_path;
    },
    date() {
      return this.getMovie.release_date;
    },
    title() {
      return this.getMovie.original_title;
    },
    production() {
      return this.getMovie.production_countries;
    },
    description() {
      return this.getMovie.overview;
    },
    time(){
      let numero = this.getMovie.runtime;
      let horas = Math.floor(numero / 60);
      let minutos = numero % 60;

      horas = ('0' + horas).slice(-2);
      minutos = ('0' + minutos).slice(-2);

      return `${horas}:${minutos}`;

    },
    isLogan(){
      return this.getMovie.tagline;
    }

  },
};
</script>

