<template>
  <div class="home">
    <v-card color="blue-grey darken-2">
      <SEARCH />
    <v-divider></v-divider>
    <LIST_MOVIE msg="Welcome to Your Vue.js App"/>
    </v-card>
    
  </div>
</template>

<script>
// @ is an alias to /src
import LIST_MOVIE from '@/views/pages/index';
import SEARCH from '@/components/movie/search';


export default {
  name: 'Home',
  components: {
    LIST_MOVIE,
    SEARCH
  }
}
</script>


