<template>
  <div class="text-center">

    <v-pagination
      v-model="page"
      :length="totalPage"
      :total-visible="7"
      color="purple"
      @input="prueba"
    ></v-pagination>
  </div>
</template>
<script>
import { LIST_MOVIES } from "@/services/movie.module";
export default {
  props: ["content"],
  data() {
    return {
      page: 1,
    };
  },
  computed: {
    totalPage() {
        return this.content.total_pages;
    }
  },
  methods: {
    prueba(){
        this.$store.dispatch(LIST_MOVIES, this.page);
    }
  }
};
</script>