<template>
    <v-form>
      <v-container>
        <br>
        <v-row justify="center">
          <v-col cols="12" sm="6" >
            <v-text-field
              v-model="form.query"
              label="Palabra clave"
              solo
            ></v-text-field>
          </v-col>

          <v-col cols="12" sm="2">
            <v-btn color="purple" class="ma-2 white--text" @click="search">
              Buscar
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
</template>
<script>

import { SEARCH_MOVIE } from "@/services/movie.module";

export default {
  data: () => ({
    form: {
        query: "",
        page:1
    }
  }),
 
  methods: {
    search() {
      this.$store.dispatch(SEARCH_MOVIE, this.form);
    },
  },
};
</script>