<template>
  <v-card class="mx-auto my-12" max-width="250" elevation="12">
    <template slot="progress">
      <v-progress-linear
        color="deep-purple"
        height="10"
        indeterminate
      ></v-progress-linear>
    </template>

    <v-img height="350" :src="imagen"></v-img>

    <v-card-title>{{ this.name }}</v-card-title>

    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-rating
          :value="7.5"
          color="amber"
          dense
          half-increments
          readonly
          size="14"
        ></v-rating>

        <div class="grey--text ms-4">({{ this.movie.vote_count }})</div>
      </v-row>

      <div class="my-4 text-subtitle-1">
        {{ this.date }}
      </div>
    </v-card-text>

    <v-divider class="mx-4"></v-divider>
    <v-card-actions justify="center">
      <v-btn color="deep-purple lighten-2" text @click="showModal1">
        Contemplar
      </v-btn>
    </v-card-actions>
    <v-dialog
      v-model="showModal"
      transition="dialog-bottom-transition"
      max-width="800"
    >
     
      <template v-slot:default="dialog">
        <v-card color="blue-grey darken-2">
          <SHOWMOVIE/>
          <v-card-actions class="justify-end">
            <v-btn color="purple"  @click="dialog.value = false">Close</v-btn>
          </v-card-actions>
        </v-card>
      </template>
    </v-dialog>
  </v-card>
</template>

<script>
import { mapGetters } from "vuex";
import { SHOW_MOVIE } from "@/services/movie.module";
import SHOWMOVIE from "@/views/pages/show";
export default {
  props: ["movie"],
  components: {
    SHOWMOVIE
  },
  computed: {
    ...mapGetters(["getMovie"]),
    imagen() {
      return this.img_url + this.movie.poster_path;
    },
    name() {
      return this.movie.title ? this.movie.title : this.movie.original_name;
    },
    date() {
      return this.movie.first_air_date ? this.movie.first_air_date : this.movie.release_date;
    }
  },
  data() {
    return {
      showModal: false,
      img_url: "https://image.tmdb.org/t/p/w500/",
 
    };
  },
 
  beforeMount() {
  },
  methods: {
    showModal1() {
      this.$store.dispatch(SHOW_MOVIE, this.movie.id);

      this.showModal = true;
    },
    closeModal(status) {
      this.showModal = status;
    },
  },
};
</script>